<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <output_file path="./LOGS.txt" is_save="true" />
    <option name="MAIN_CLASS_NAME" value="networking.server.Server" />
    <module name="quest" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="networking.server.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>